// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;

$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #FbFbFb;



//material design Palette
//https://www.materialpalette.com/teal/amber
$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
