<div class="padded-3">
  <div class="container">
      <h1 class="text-center">React & Rails playground</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-center">
              <h3>React on Rails Gem rendering</h3>
            </div>
            <div class="card-block" style="min-height: 250px;">
              <%= react_component 'PageSpeedChart', props: {data: @scores} %>
            </div>
            <div class="card-footer align-middle">
              <p>At every new commit, a Page Speed test is launch as a background job. Results are then persisted in the database. This react component displays the results for each past commits.</p>
              <p>This component is generated with <strong>Gem React on Rails</strong> passing rails data to the props of the component with the rails helper.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-center">
              <h3>Pure React rendering</h3>
            </div>
            <div class="card-block" style="min-height: 250px;">
              <div id="page_speed_chart" style="min-height: 250px;"></div>
            </div>
            <div class="card-footer align-middle">
              <p>At every new commit, a Page Speed test is launch as a background job. Results are then persisted in the database. This react component displays the results for each past commits.</p>
              <p>This component is generated in pure React. Data are fecth from the backend using an ajax call (Axios) to /commits.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "page_speed_chart" %>
<% end %>
