<div class="padded-3">
  <div class="container">
      <h1 class="text-center">React & Rails playground</h1>
      <h3>Current page speed score : <strong><%= @score %></strong></h3>
      <p><%= @scores %></p>
  </div>
</div>
