<div class="my-4">
  <div class="container-fluid">
    <h1 class="text-center mb-4">Page Speed charts</h1>
    <div class="row">
      <%= render partial: "chart", collection: @charts %>
    </div>
  </div>
</div>
